# Add your own environment variables in a .env file at the root of the project,
# they will be loaded and used in the associated scripts.
#   -> see `torch_pointcloud.config` for the list of options.
#
TORCH_POINTCLOUD_DATA_DIR=...
TORCH_POINTCLOUD_MODELS_DIR=...
