:root, 
[data-md-color-scheme="default"] {
  --md-default-fg-color--lightest: var(--md-code-bg-color);
  --md-typeset-a-color: var(--md-accent-fg-color);
  --md-typeset-table-color: var(--md-code-bg-color);
  --admonition-example-fg: var(--md-code-hl-operator-color);
  --admonition-example-bg: var(--md-code-bg-color);
}

[data-md-color-scheme="slate"] {
  --md-default-fg-color--lightest: var(--md-code-bg-color);
  --md-typeset-a-color: var(--md-accent-fg-color);
  --md-typeset-table-color: var(--md-code-bg-color);
  --admonition-example-fg: var(--md-code-hl-operator-color);
  --admonition-example-bg: var(--md-code-bg-color);
}

/* ----------- Start Header & Footer ----------- */
header.md-header {
  border-bottom: 1px solid color-mix(in srgb, var(--md-default-fg-color--lightest) 75%, transparent);
}

footer.md-footer {
  border-top: 1px solid color-mix(in srgb, var(--md-default-fg-color--lightest) 75%, transparent);
}
footer.md-footer .md-footer-meta {
  background-color: color-mix(in srgb, var(--md-default-fg-color--lightest) 25%, transparent);
}
/* ----------- End Header & Footer ----------- */

/* ----------- Start General ----------- */
/* Prettify object names (classes & functions) */
.doc-object .doc-heading {
  display: flex;
  align-items: flex-start;
}
.doc-object code.doc-symbol {
  padding: 0 0.4em;
  border: 0.5px solid color-mix(in srgb, currentColor 50%, transparent);
  border-radius: 0.4em;
  font-size: 0.65em;
  flex-shrink: 0;
  margin-top: 0.27em;
}
.doc-object span.doc-object-name {
  flex: 1;      
  min-width: 0;
  word-break: normal;
  overflow-wrap: break-word;
}
.doc-object span.doc-object-name > span.doc-object-path {
  /* color: var(--md-default-fg-color--light); */
  color: color-mix(in srgb, var(--md-default-fg-color) 75%, transparent);
}
.doc-object .doc-overloads {
  display: none;
}
/* Lighter parameter names in signatures code blocks */
/* .doc-object .doc-signature span.n:not(:has(*)) {
  color: hsla(var(--md-hue), 0%, 100%, 1);
} */
.doc-object .doc-signature span.n:has(*), 
.doc-object .doc-signature span.p {
  color: var(--md-default-fg-color--light);
}
.doc-object .doc-signature span.kc {
  color: var(--md-code-hl-keyword-color);
}

/* Inline Code */
p > code, li > code, td > code {
  border: 1px solid color-mix(in srgb, var(--md-default-fg-color) 5%, transparent);
}

/* Navbar link colors */
.md-sidebar.md-sidebar--secondary .md-nav__link--active {
  color: color-mix(in srgb, var(--md-accent-fg-color) 80%, transparent);
}
/* ----------- End General ----------- */

/* ----------- Table format like GitHub ----------- */
.md-typeset__table {
  line-height: 1.2;
}
.md-typeset__table tbody tr:hover {
  background-color: color-mix(in srgb, var(--md-default-fg-color--lightest) 25%, transparent) !important;
}
/* ----------- End Table format like GitHub ----------- */

/* ----------- Start Admonition ----------- */
.md-typeset details.example summary::before, .md-typeset details.example summary::after {
  background-color: var(--admonition-example-fg) !important;
}
.md-typeset details.example pre code {
  border: 1px solid color-mix(in srgb, var(--md-default-fg-color) 5%, transparent);
}
.md-typeset details.example {
    background-color: var(--admonition-example-bg) !important;
}
/* ----------- End Admonition ----------- */
